<h2>Lista de Citas</h2>
<a class="btn btn-primary" [routerLink]="['/cita/crear']">
  <i class="glyphicon glyphicon-user"></i> Crear
</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Tipo</th>
      <th>Paciente</th>
      <th>Fecha</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cita of citas">
      <td>{{cita.ID}}</td>
      <td><a [routerLink]="['/cita', cita.ID]">{{cita.TipoCita.Descripcion}}</a></td>
      <td>{{cita.Paciente.Nombre}}</td>
      <td>{{cita.Fecha}}</td>
    </tr>
  </tbody>
</table>