<h2>Lista de Pacientes</h2>
<a class="btn btn-primary" [routerLink]="['/paciente/crear']">
  <i class="glyphicon glyphicon-user"></i> Crear
</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Sexo</th>
      <th>Edad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let paciente of pacientes">
      <td>{{paciente.ID}}</td>
      <td><a [routerLink]="['/paciente', paciente.ID]">{{paciente.Nombre}}</a></td>
      <td>{{paciente.SexoStr}}</td>
      <td>{{paciente.Edad}}</td>
    </tr>
  </tbody>
</table>